---
layout: default
title: Books
---


    {% capture tags %}
        {% for tag in site.tags %}
            {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
        {% endfor %}
    {% endcapture %}

    {% assign sortedtags = tags | split:' ' | sort %}
    {% for tag in sortedtags reversed %}
        {% assign tagitems = tag | split: '#' %}
        <a {% if page.url == item.link %} class="current book" {% else %} class="book" {% endif %}  href="/tag/{{ tagitems[1] }}/">{{ tagitems[1] }} ({{ tagitems[2] }})</a>
    {% endfor %}
{% assign sortedtags = tags | split:' ' | sort %}
    {% for tag in sortedtags reversed %}
        {% assign tagitems = tag | split: '#' %}
        <h1>Read books (total {{tagitems[2]}}):</h1>
        {% break %}
    {% endfor %}


<ul>
    {% assign sorted = site.posts | sort: 'date' | reverse  %}
    {% for book in sorted %}
    {% if book.tags contains "książki" %}
    {% assign currentdate = book.date_read | date: "%Y/%m" %}
    {% if currentdate != date_read %}
        <h1><li id="y{{currentdate}}">{{ currentdate }}</li></h1>
        {% assign date_read = currentdate %} 
    {% endif %}
    <li>
        <a href="{{book.url}}">{{book.title}}</a> {{book.author}}
    </li>
    {% endif %}
    {% endfor %}
</ul>


<ul>
    {% assign sorted = site.books | sort: 'date_read' | reverse  %}
    {% for book in sorted %}
    {% assign currentdate = book.date_read | date: "%Y/%m" %}
    {% if currentdate != date_read %}
        <h1><li id="y{{currentdate}}">{{ currentdate }}</li></h1>
        {% assign date_read = currentdate %} 
    {% endif %}
    <li>
        <a href="{{book.url}}">{{book.title}}</a>
    </li>
    {% endfor %}
</ul>

